*.egg-info
.mypy_cache
.vscode
.atom
*.pyc
__pycache__
.benchmarks
.pytest_cache
grax/projects/digcn
grax/projects/spag
grax/projects/spectral_partition
grax/projects/igcn_backup
grax/projects/deq_gcn
examples
benchmarks/subspace_iteration.py
