[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]

disable=
    bad-continuation,
    bad-whitespace,
    invalid-name,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    redefined-outer-name,
    c-extension-no-member,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    invalid-unary-operand-type,
    not-context-manager,
    unpacking-non-sequence

[format]

max-line-length=88
